<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"

	id="myapp" width="100%" height="100%"
	codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab">
	<param name="movie" value="src/Main.swf" />
	<param name="quality" value="high" />
	<param name="bgcolor" value=#000000 />
	<param name="allowScriptAccess" value="sameDomain" />
	<embed src="src/Main.swf" quality="high" bgcolor=#CCCCCC
	width="700" height="700" name="myapp" align="middle"
	play="true"
	loop="false"
	quality="high"
	allowScriptAccess="sameDomain"
	type="application/x-shockwave-flash"
	pluginspage="http://www.macromedia.com/go/getflashplayer">
	</embed>

</object>